@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

ul {
  margin:0;
  list-style-type: none;
}

li {
  display: inline-block;
  color: black;
  padding: 20px;
}

#nav-link-one {
  font-family: "Kalam", cursive;
  font-size: 34px;
  margin-left: 40;
}

#pictures {
  width: 300px;
}

#photoContainer {
  /* background-color: blue; */
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-width:30px ;
  border-color: blue;
  
  
}

#pictures-name {
  text-align: center;
}

#pictures-price {
  text-align: center;
}

#container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  
}

#deatil-container{
  display: flex;
  padding-top: 80px;
  justify-content: center;
}

#detail-image{
  width: 500px;
}

#detail-title{
  font-size: 65px;
  margin-left: 40px;
}
#detail-price{
  font-size:28px;
  margin-left: 40px;
  margin-top:20px
}

#detail-description{
  width:380px;
  margin-left: 40px;
  margin-top:20px
}

#search-div{
  display: flex;
  justify-content: center;
  height:40px;
  margin-top:50px ;
  margin-bottom:50px;
}
 
#search-input{
  border-width: 1px;
  border-color:#DDDDDD;
  width: 800px;
}